.navbar-brand-xix {
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
  margin-top: 1px;
  > img {
    margin: 0 5px 0 0;
  }
}

.auth-navbar-top {
  //background: linear-gradient(125deg, rgba(80,22,11,1) 0%, rgba(115,39,23,1) 20%, rgba(75,16,8,1) 38%, rgba(117,43,30,1) 54%, rgba(81,21,11,1) 70%, rgba(94,34,24,1) 85%, rgba(105,37,26,1) 100%);
  //background: linear-gradient(45deg, rgba(39,18,15,1) 0%, rgba(49,9,7,1) 5%, rgba(63,16,8,1) 10%, rgba(65,18,10,1) 20%, rgba(92,32,21,1) 50%, rgba(104,36,23,1) 70%, rgba(128,41,24,1) 90%, rgba(146,49,30,1) 95%, rgba(159,58,34,1) 99%, rgba(231,119,81,1) 100%);
  background: linear-gradient(
    60deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(49, 9, 7, 1) 10%,
    rgba(63, 16, 8, 1) 20%,
    rgba(65, 18, 10, 1) 30%,
    rgba(92, 32, 21, 1) 50%,
    rgba(104, 36, 23, 1) 70%,
    rgba(128, 41, 24, 1) 90%,
    rgba(146, 49, 30, 1) 95%,
    rgba(159, 58, 34, 1) 99%,
    rgba(231, 119, 81, 1) 100%
  );
  &.navbar-default {
    .navbar-nav {
      > .active > a,
      > .open > a {
        background: #5c2015;
      }
      > li > a {
        &:focus,
        &:hover {
          color: #e77751;
        }
      }
      .open {
        .dropdown-menu {
          > li > a {
            &:focus,
            &:hover {
              color: #e77751;
            }
          }
        }
      }
    }
    .navbar-brand {
      &:focus,
      &:hover {
        color: #e77751;
      }
    }
    .navbar-toggle {
      &,
      &:hover {
        background: #5c2015;
        border-color: #5c2015;
      }
    }
  }
}

.dropdown-menu .divider {
  background-color: rgba(#260101, 0.1);
}

.top-menu-bar-language-select {
  form {
    box-shadow: none;
  }
}

.no-border {
  border: none;
  outline: none;
}
